{% extends 'task/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-3 text-center fw-bold">{{ user_name }}'s Tasks</h1>

                <a href="{% url 'create_task' %}">Create Task</a>

                <div>
                    {% for task in tasks %}
                        <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                            <div>
                                {% if task.important %}
                                    <h4>{{ task.title }} ⭐</h4>
                                {% else %}
                                    <h4>{{ task.title }}</h4>
                                {% endif %}


                                <p>{{ task.description }}</p>

                            </div>

                            <div>
                                <a href=""><button class="btn btn-warning mt-1">Completed</button></a>

                                <a href="{% url 'update_task' task.id %}"><button class="btn btn-primary mt-1">Update</button></a>

                                <a href="{% url 'delete_task' task.id %}"><button class="btn btn-danger mt-1">Delete</button></a>

                            </div>
                        </div>
                    {% empty %}
                        <h2 class="display-5 text-center">No tasks yet</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}