{% extends 'task/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">

                <h1 class="display-3 text-center fw-bold">{{ user_name }}'s Tasks</h1>

                <div>

                    <div class="text-center">
                        {% if completed %}
                            <a href="{% url 'tasks_uncompleted' %}" class="display-3 text-center fw-bold"><button class="btn btn-info mt-1">Tasks Uncompleted</button></a>
                        {% else %}
                            <a href="{% url 'create_task' %}" class="display-3 text-center fw-bold"><button class="btn btn-success mt-1">+ Create Task</button></a>
                            <a href="{% url 'tasks_completed' %}" class="display-3 text-center fw-bold"><button class="btn btn-info mt-1">Tasks Completed</button></a>
                        {% endif %}
                    </div>

                    {% for task in tasks %}
                        <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                            <div>
                                {% if task.important %}
                                    <h4>{{ task.title }} ⭐</h4>
                                {% else %}
                                    <h4>{{ task.title }}</h4>
                                {% endif %}


                                <p>{{ task.description }}</p>

                                {% if task.datecompleted %}
                                    <p>completed date: {{ task.datecompleted }}</p>
                                {% endif %}

                            </div>

                            <div>

                                {% if not task.datecompleted %}
                                    <a href="{% url 'complete_task' task.id %}"><button class="btn btn-warning mt-1">Complete</button></a>

                                    <a href="{% url 'update_task' task.id %}"><button class="btn btn-primary mt-1">Update</button></a>
                                {% endif %}

                                <a href="{% url 'delete_task' task.id %}"><button class="btn btn-danger mt-1">Delete</button></a>

                            </div>
                        </div>
                    {% empty %}
                        <h2 class="display-5 text-center">No tasks yet</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}