{% extends 'task/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="display-3 text-center fw-bold">{{ task.title }}</h1>

                <form action="{% url 'update_task' task.id %}" method="POST" class="card card-body bg-secondary">
                    {% csrf_token %}

                    <label for="title">Title:</label>
                    <input type="text" name="title" value="{{ task.title }}" placeholder="Edit title" class="form-control mb-2" required>

                    <label for="description">Description:</label>
                    <textarea name="description" row="3" placeholder="Edit description" value="{{ task.description }}" class="form-control mb-2" required></textarea>

                    <button class="btn btn-success">Edit</button>
                </form>

                <div>
                    <div class="card card-body text-black mt-2 d-flex flex-row justify-content-between">
                        <div>
                            <h4>{{ task.title }}</h4>
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}